body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
}

/* LOGIN */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.login-card button {
  margin: 10px;
  padding: 10px 20px;
}

/* DASHBOARD */
.container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.role {
  background: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.logout {
  background: red;
  color: white;
  padding: 5px 10px;
}

.card {
  background: white;
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
}

input {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}

button {
  padding: 8px 12px;
  margin-top: 5px;
}

.delete {
  background: red;
  color: white;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

td, th {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
